* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: 0;
    box-sizing: border-box;

}

a:link {
    color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/background\ 1.png);
    background-position: center;
    background-size: 1366px 768px;
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    border: 1px solid red;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1.5fr 10fr 1fr;
    grid-template-areas: 
    ". header ."
    ". main ."
    ". footer .";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-link {
    background-image: url(../images/logo\ 3.svg);
    background-repeat: no-repeat;
    background-position-y: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-link:hover {
    color: #F26522;
    background: url(../images/logo\ 2.png);
    background-repeat: no-repeat;
    background-position-y: 5px;
}

.header-logo ul {
    margin-left: 50px;
}

.header-logo ul li:first-child {
    font-weight: 700;
    font-size: 29px;
    padding-left: 10px;
}

.header-logo ul li:last-child {
    font-weight: 700;
    font-size: 18px;
    padding-left: 10px;
}

.header-contacts {
    color: white;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-contacts a{
    padding: 5px 0;
    color: white;
}

.header-contacts a:hover{
    padding: 5px 0;
    color: #F26522;
}

.header-contacts p{
    padding: 5px 0;
    color: white;
}

.header-contacts p:hover{
    padding: 5px 0;
    color: #F26522;
}


main {
    grid-area: main;
}

.block-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 37px;
    column-gap: 60px;
}

.block-container p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.block-container .block1-slider {
    position: relative;
}

.block-container .block2-slider {
    position: relative;
}

.block-container .block3-slider {
    position: relative;
}

.block-container .block4-slider {
    position: relative;
}

.block-container .block5-slider {
    position: relative;
}

.block-container .block6-slider {
    position: relative;
}

.slider-menu {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    bottom: 5px;
    height: 55px;
    width: 100%;
    color: white;
    background-color: #F26522;
    text-decoration-color: none;
}

.slider-menu li:nth-child(1) {
    font-size: 10px;
    margin-left: 16px;
    margin-top: 8px;
}

.slider-menu li:nth-child(2) {
    font-size: 20px;
    margin-left: 16px;
    margin-top: 5px;
}

.slider-menu li:nth-child(3) {
    font-size: 14px;
    margin-top: 29px;
    margin-left: 128px;
    color: white;
}

.slider-menu li:nth-child(4) {
    margin-top: 28px;
}

.block1:hover .slider-menu{
    display: flex;
}

.block1:hover p{
    color: #F26522;
}

.block2:hover .slider-menu{
    display: flex;
}

.block2:hover p{
    color: #F26522;
}

.block3:hover .slider-menu{
    display: flex;
}

.block3:hover p{
    color: #F26522;
}

.block4:hover .slider-menu{
    display: flex;
}

.block4:hover p{
    color: #F26522;
}

.block5:hover .slider-menu{
    display: flex;
}

.block5:hover p{
    color: #F26522;
}

.block6:hover .slider-menu{
    display: flex;
}

.block6:hover p{
    color: #F26522;
}

footer {
    grid-area: footer;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer-text p {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
